extends basic.jade

block title
  title Reykjavík Chautauqua — Events

block main-header-h1
  h1 Events

block main
  section.events
    each event in events
      article
        header
          h2= event.title
          div.host Hosted by 
            span.hosts= event.host
          div.location at 
            span.location= event.location
          div.datetime on 
            time(datetime=event.datetime)!= typogrify(event.humanDate)
        section.description!= md(event.description)