- var title = "Reykjavík Chautauqua"

doctype html
html(lang="en")
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/main.css")
  body
    header
      h1= title
      article.introduction
        include:markdown introduction.md
    nav.theme-nav
      h2 Topics
      ul.theme-list
        each theme in themes
          li(class=(theme.focus ? "focus " : " ") + theme.url.slice(1))
            a(href=theme.url)
              p= theme.dateStr
              p= theme.name

     script(src="/scripts/main.js")