- var title = "Reykjavík Chautauqua"
- var subtitle = "Institute of Lower Learning"

doctype html
html(lang="en")
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/main.css")
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel="apple-touch-icon", href="/apple-touch-icon.png")
    meta(name="description", content="Welcome to Reykjavík Chautauqua — Institute of Lower Learning! Reykjavíks newest educational social media webspace. Learn something new · Share something new · Try something new.")
    meta(name="viewport", content="width=device-width, maximum-scale=1")

  body
    header.first-main-header
      h1
        a(href="http://reyqua.com")= title
      h2= subtitle
      
    nav.theme-nav
      h2 Topics
      a.scroll.left(href="#") «
      a.scroll.right(href="#") »
      ul.theme-list
        each theme in themes
          li(class=(theme.focus ? "focus " : " ") + theme.url.slice(1))
            a(href=theme.url)
              p= theme.dateStr
              p= theme.name

    section.page-nav
      :markdown
        See upcoming [**events**](/events) &
        read more [**about us**](/about)

    div.email-signup-form#mc_embed_signup
      form(action="//reyqua.us9.list-manage.com/subscribe/post?u=34db5ed86b65db22d9ec6a3ef&amp;id=e2cc057825", method="post", id="mc-embedded-subscribe-form", name="mc-embedded-subscribe-form", class="validate", target="_blank", novalidate)
        label(for="mce-EMAIL") Email
        input(type="email", value="", name="EMAIL", class="required email", id="mce-EMAIL")
        input(type="text" name="b_34db5ed86b65db22d9ec6a3ef_e2cc057825", tabindex="-1", value="")
        input(type="submit", value="Join", name="subscribe", id="mc-embedded-subscribe", class="button")
      label(for="mce-EMAIL") Join our email list

    script(src="/scripts/main.js")