article.post(id=(post.articleId || post.title.replace(/\s/g, '-')))

  header
    h2= post.title
    a.permalink(href="#"+(post.articleId || post.title.replace(/\s/g, '-')), title="permalink") Permalink
    
  footer
    if post.author
      | by 
      span.author= post.author
    time.date(datetime=post.datetime.toISOString())!= post.humanDate.replace(/(\d+)(\w{2})/, "$1<sup>$2</sub>")

  div.content!= md(post.content)
  
  input(id="dropdown-comment-post-#{post.id}", type="checkbox", rel="dropdown")
  label(for="dropdown-comment-post-#{post.id}")
    span.comment-length #{post.comments.length}
    |   comments
  section.comments
    h2 comments
    each comment in post.comments
      div.comment
        p.author
          span.author-name= comment.author || "Somebody"
          |  says
        div.comment-content!= md(comment.content)

  div.new-comment
    form.new-comment-form(action="#{theme.url}/new-comment", method="POST")
      input(type="hidden", name="post", value=post.title)
      input(type="text", name="author", placeholder="Name")
      textarea(name="comment", placeholder="Comment")
      textarea(name="content", placeholder="Comment")
      input(type="submit")
