article.post(id=post.articleId)

  header
    h2= post.title
    a.permalink(href="#"+post.articleId, title="permalink") Permalink
    
  footer
    if post.author
      | by 
      span.author= post.author
      
  section.content!= md(post.content)
  
  input(id="dropdown-comment-post-#{post.id}", type="checkbox", rel="dropdown")
  label(for="dropdown-comment-post-#{post.id}")
    span.comment-length #{post.comments.length}
    |   comments
  section.comments
  
    each comment in post.comments
      article.comment
        if comment.author
          p.author
            span.author-name= comment.author
            |  says
        section.comment-content!= md(comment.content)
        
  section.new-comment
    form.new-comment-form(action="#{theme.url}/new-comment", method="POST")
      input(type="hidden", name="post", value=post.title)
      textarea(name="comment", placeholder="Comment")
      textarea(name="content", placeholder="Comment")
      input(type="text", name="author", placeholder="Name")
      input(type="submit")
