- var title = "Reykjavík Chautauqua"


doctype html
html
  head
    meta(charset="utf-8")
    title= theme.name
    block stylesheet
      link(rel='stylesheet', href='/stylesheets/themes.css')

  body
    header.main-header(class=theme.url.slice(1))
      block header
        h1= theme.name
        h2
          a(href="/")= title
        
        section.intro
          block intro

    section.posts(id="posts")
      h2 Posts
      nav.toc
        ul
          each post in posts
            li
              a(href="#"+post.articleId)
                span.title= post.title
                span.author by #{post.author || "Somebody"}
          li.new-post
            a(href="#new-post")
              span.title= "New Post"
              span.author= "by you"
      each post in posts
        include ./post_layout.jade

    input(type="checkbox", rel="dropdown", id="dropdown-new-post")
    label(for="dropdown-new-post") New post
    section.new-post(id="new-post")
      article.preview
        header
          h2.title
        footer
          span.author
        section.content
        
      form#new-post-form(action=theme.url + "/new-post",
                         method="POST")
        input(type="text", name="title", placeholder="Title")
        input(type="text", name="author", placeholder="Author")
        div.form-content
          textarea(name="post", placeholder="Article")
          textarea(name="content", placeholder="Article")
          div.editmenu
            ul
              li
                button.heading2(value="h2", title="Second heading") H
              li
                button.heading3(value="h3", title="Third heading") H
              li
                button.strong(value="strong", title="Strong") B
              li
                button.em(value="em", title="Emphasize") I
              li
                button.anchor(value="a", title="Hyperlink") a
              li
                button.img(value="img", title="Image URL") img
              li
                button.yt(value="yt", title="You Tube") yt
              li
                button.vimeo(value="vimeo", title="Vimeo") vimeo
              li.help
                div.help-container
                  :markdown
                    * *Italic text* is surrounded by `*asterisks*`
                    * **bold text** by a `**couple**`.
                    * You add a paragraph by including a blank line.
                    * Two spaces after a line will force a line-break (good
                      for poetry).
                    * [Hyperlinks](http://info.cern.ch/hypertext/WWW/WhatIs.html)
                      simply follow `[Link Name](http://www.example.com)`.
                    * Images are like links, but with an exclamation (!) in front
                      `![fallback text](http://url-to-image-site.com/image.jpeg)`
                    * YouTube and Vimeo embeds are like images but with
                      `yt` and `vimeo` as the fallback text respectively.
                    * In short, we follow the
                      [markdown](http://daringfireball.net/projects/markdown/)
                      syntax.

        input(type="submit", value="submit")

    footer.theme-nav
      ul.theme-list
        each theme_ in themes
          if theme_.name == theme.name
            li(class=(theme_.name == theme.name ? "active " : " ") +
               theme_.url.slice(1))
              a(href=theme_.url)
                p= theme_.dateStr
                p= theme_.name
          else
            li(class=theme_.url.slice(1))
              a(href=theme_.url)
                p= theme_.dateStr
                p= theme_.name

    script(src="/scripts/themes.js")