doctype html
html
  head
    meta(charset="utf-8")
    title= theme.name
    block stylesheet
      link(rel='stylesheet', href='/stylesheets/themes.css')
    
  body
    header.main-header
      block header
        h2
         a(href="/") Chantal and Rúnar’s Social Club
        h1= theme.name
      
    section.posts(id="posts")
      h2 Posts
      each post in posts
        include ./post_layout.jade

    input(type="checkbox", rel="dropdown", id="dropdown-new-post")
    label(for="dropdown-new-post") New post
    section.new-post(id="new-post")
      article.preview
        header
          h2.title
        footer
          span.author
        section.content
        
      form#new-post-form(action=theme.url + "/new-post",
                         method="POST")
        input(type="text", name="title", placeholder="Title")
        textarea(name="content", placeholder="Article")
        input(type="text", name="author", placeholder="Author")
        input(type="submit", value="submit")

    footer.theme-nav
      ul.theme-list
        each theme_ in themes
          if theme_.name == theme.name
            li(class=(theme_.name == theme.name ? "active " : " ") +
               theme_.url.slice(1))
              a(href=theme_.url)
                p= theme_.dateStr
                p= theme_.name
          else
            li(class=theme_.url.slice(1))
              a(href=theme_.url)
                p= theme_.dateStr
                p= theme_.name

    script(src="/scripts/themes.js")