doctype html
html
  head
    meta(charset="utf-8")
    title= theme.name
    link(rel='stylesheet', href='/stylesheets/themes.css')
    
  body
    header.main-header
      block header
        h2
         a(href="/") Chantal and Rúnar’s Social Club
        h1= theme.name
      
    section.posts(id="posts")
      h2 Posts
      each post in posts
        include ./post_layout.jade

    input(type="checkbox", rel="state", id="state-new-post")
    label(for="state-new-post") New post
    section.new-post(id="new-post")
      article.preview
        header
          h2.title
        footer
          span.author
        section.content
        
      form#new-post-form(action='/' + urlify(theme.name) + "/new-post",
                         method="POST")
        input(type="text", name="title", placeholder="Title")
        textarea(name="content")
        input(type="text", name="author", placeholder="Author")
        input(type="submit", value="submit")

    footer.theme-nav
      ul.theme-list
        each t in themes
          if t.name == theme.name
            li.active
              a(href=urlify(t.name))= t.name
          else
            li
              a(href=urlify(t.name))= t.name

    script(src="/scripts/themes.js")