- var title = "Reykjavík Chautauqua"

doctype html
html(class=theme.focus ? "focus-theme" : "")
  head
    meta(charset="utf-8")
    title= theme.name
    meta(name="viewport", content="width=device-width, maximum-scale=1")
    block stylesheet
      link(rel='stylesheet', href='/stylesheets/themes.css')
    link(rel="shortcut icon", href="/favicon.ico")

  body
    header.second-main-header(class=theme.url.slice(1))
      block header
        h1= theme.name
        h2
          a(href="/")= title
        
        section.intro
          block intro

    section.posts(id="posts")
      h2 Posts
      nav.toc
        ul
          each post in posts
            li
              a(href="#"+(post.articleId || post.title.replace(/\s/g, '-')))
                span.title= post.title
                span.author by #{post.author || "Somebody"}

      include ./new-post.jade
      
      each post in posts
        include ./post_layout.jade

    footer.theme-nav
      ul.theme-list
        each theme_ in themes
          if theme_.name == theme.name
            li(class=(theme_.name == theme.name ? "active " : " ") +
               theme_.url.slice(1))
              a(href=theme_.url)
                p= theme_.dateStr
                p= theme_.name
          else
            li(class=theme_.url.slice(1))
              a(href=theme_.url)
                p= theme_.dateStr
                p= theme_.name

    script(src="/scripts/themes.js")