doctype html
html
  head
    meta(charset="utf-8")
    title= theme.name
    link(rel='stylesheet', href='/stylesheets/themes.css')
    
  body
    header
      h2
       a(href="/") Chantal and Rúnar’s Social Club
      h1= theme.name
      
    section(id="posts")
      h2 Posts
      each post in posts
        include ./post_layout.jade

    section(id="new-post")
      article.preview
        header
          h2.title New Post
        section.content
        
      form#new-post-form(action=theme.url + "/new-post", method="POST")
        input(type="text", name="title")
        textarea(name="content")
        input(type="text", name="author")
        input(type="submit", value="submit")

    footer
      ul
        each t in themes
          if t.name == theme.name
            li.active
              a(href=t.url)= t.name
          else
            li
              a(href=t.url)= t.name

    script(src="/scripts/themes.js")